In [2]:
import pandas as pd

In [30]:
df = pd.read_csv('F:\datasets for big data\owid-covid-data.csv')

In [31]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [55]:
df1 = df.loc[:, ['location','date','total_cases','new_cases','total_deaths','new_deaths']]

In [56]:
df1.head()

      location        date  total_cases  new_cases  total_deaths  new_deaths
0  Afghanistan  2020-02-24          1.0        1.0           NaN         NaN
1  Afghanistan  2020-02-25          1.0        0.0           NaN         NaN
2  Afghanistan  2020-02-26          1.0        0.0           NaN         NaN
3  Afghanistan  2020-02-27          1.0        0.0           NaN         NaN
4  Afghanistan  2020-02-28          1.0        0.0           NaN         NaN

In [57]:
list1 = ['United States','India','Italy','China','Spain']

In [58]:
df2 = df1.loc[df['location'].isin(list1)]

In [46]:
df2

            location        date  total_cases  total_deaths
14541          China  2020-01-22        548.0          17.0
14542          China  2020-01-23        643.0          18.0
14543          China  2020-01-24        920.0          26.0
14544          China  2020-01-25       1406.0          42.0
14545          China  2020-01-26       2075.0          56.0
14546          China  2020-01-27       2877.0          82.0
14547          China  2020-01-28       5509.0         131.0
14548          China  2020-01-29       6087.0         133.0
14549          China  2020-01-30       8141.0         171.0
14550          China  2020-01-31       9802.0         213.0
14551          China  2020-02-01      11891.0         259.0
14552          China  2020-02-02      16630.0         361.0
14553          China  2020-02-03      19716.0         425.0
14554          China  2020-02-04      23707.0         491.0
14555          China  2020-02-05      27440.0         563.0
14556          China  2020-02-06      30587.0         633.0
14557          China  2020-02-07      34110.0         718.0
14558          China  2020-02-08      36814.0         805.0
14559          China  2020-02-09      39829.0         905.0
14560          China  2020-02-10      42354.0        1012.0
14561          China  2020-02-11      44386.0        1112.0
14562          China  2020-02-12      44759.0        1117.0
14563          China  2020-02-13      59895.0        1369.0
14564          China  2020-02-14      66358.0        1521.0
14565          China  2020-02-15      68413.0        1663.0
14566          China  2020-02-16      70513.0        1766.0
14567          China  2020-02-17      72434.0        1864.0
14568          China  2020-02-18      74211.0        2003.0
14569          China  2020-02-19      74619.0        2116.0
14570          China  2020-02-20      75077.0        2238.0
...              ...         ...          ...           ...
73019  United States  2021-02-21   28173139.0      500232.0
73020  United States  2021-02-22   28229362.0      501527.0
73021  United States  2021-02-23   28301617.0      503795.0
73022  United States  2021-02-24   28376317.0      506965.0
73023  United States  2021-02-25   28453812.0      509328.0
73024  United States  2021-02-26   28530741.0      511434.0
73025  United States  2021-02-27   28595134.0      512938.0
73026  United States  2021-02-28   28646373.0      513992.0
73027  United States  2021-03-01   28705285.0      515524.0
73028  United States  2021-03-02   28762326.0      517467.0
73029  United States  2021-03-03   28829520.0      519957.0
73030  United States  2021-03-04   28897518.0      521888.0
73031  United States  2021-03-05   28963921.0      523663.0
73032  United States  2021-03-06   29022116.0      525162.0
73033  United States  2021-03-07   29063082.0      525844.0
73034  United States  2021-03-08   29108096.0      526574.0
73035  United States  2021-03-09   29165791.0      528369.0
73036  United States  2021-03-10   29223730.0      529926.0
73037  United States  2021-03-11   29286134.0      531487.0
73038  United States  2021-03-12   29347338.0      533050.0
73039  United States  2021-03-13   29400553.0      534780.0
73040  United States  2021-03-14   29438775.0      535356.0
73041  United States  2021-03-15   29495424.0      536098.0
73042  United States  2021-03-16   29549235.0      537263.0
73043  United States  2021-03-17   29608206.0      538436.0
73044  United States  2021-03-18   29668587.0      540047.0
73045  United States  2021-03-19   29730000.0      541144.0
73046  United States  2021-03-20   29785285.0      541927.0
73047  United States  2021-03-21   29818930.0      542359.0
73048  United States  2021-03-22   29869514.0      542949.0

[2103 rows x 4 columns]

In [59]:
df2.count()

location        2103
date            2103
total_cases     2103
new_cases       2101
total_deaths    1972
new_deaths      1971
dtype: int64

In [60]:
df2.dropna(subset=['new_deaths'], inplace=True)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df2.count()

location        1971
date            1971
total_cases     1971
new_cases       1971
total_deaths    1971
new_deaths      1971
dtype: int64

In [62]:
df2.to_csv('covid-data.csv')